.app {
  width:50%;
  margin: 1em auto;
}

.logo{
  display: block;
  margin: 0 auto;
  max-height: 100px;
  padding: 1rem;
}

.navigation {
  margin: 1rem auto;
  font-size: 1.2rem;
}

.navigation_item {
  padding: 1rem;
}